<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" id="viewport" />

	<title>Spot it, Click it, Get it</title>
	<link rel="stylesheet" href="/css/app.css" type="text/css">
</head>

<body>
	<div id="app">
		<%- body -%>
	</div>
	<script src="/js/app.js"></script>
</body>
</html>