<% layout('_layout') -%>

<div class="main container">
	<div id="titlebar">
		<a href="#" class="back button" v-show="back" @click.prevent.stop="onBack"></a>
		<h5 class="title" v-cloak>{{ title }}</h5>
	</div>
	<div id="content">
		<router-view></router-view>
	</div>
</div>

<template id="login-template">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form class="form-horizontal" @submit.prevent.stop="login">
				<div class="form-group">
					<label>Username:</label>
					<input class="form-control" type="email" v-model="signin.emailId">
				</div>
				<div class="form-group">
					<label>Password:</label>
					<input class="form-control" type="password" v-model="signin.password">
				</div>
				<br />
				<button type="submit" class="btn btn-primary btn-lg btn-block" :disabled="!btnenabled">{{ btnlabel }}</button>
			</form>
		</div>
	</div>
</template>

<template id="getcoordinate-template">
	<div class="status" v-show="status != ''">{{ status }}</div>
</template>

<template id="index-template">
	<div>
		<div class="status" v-show="status != ''">{{ status }}</div>
		<div class="spots nearby" v-if="closeSpots.length > 0">
			<p>Spots within 100 meters:</p>
			<div class="card card-block" v-for="spot in closeSpots">
				<img :src="spot.pictures[0].thumbnailData" style="margin-bottom: 10px">
				<div><a href="#" @click.prevent.stop="onClickSpot(spot)"><strong>{{ spot.location.address1 }} {{ spot.location.address2 }}</strong></a></div>
				<h4 class="text-primary"><strong>${{ spot.price }}</strong></h4>
				<div>{{ spot.description }}</div>
				<div>{{ spot.spotEmail }}</div>
				<div>{{ spot.spotPhone }}</div>
			</div>
		</div>
		<br />
		<div class="spots" v-if="spots.length > 0">
			<p>Nearby spots:</p>
			<div class="card card-block" v-for="spot in spots">
				<img :src="spot.pictures[0].thumbnailData" style="margin-bottom: 10px">
				<div><a href="#" @click.prevent.stop="onClickSpot(spot)"><strong>{{ spot.location.address1 }} {{ spot.location.address2 }}</strong></a></div>
				<div>{{ spot.description }}</div>
				<div class="text-primary">{{ spot.spotEmail }}</div>
				<div>{{ spot.spotPhone }}</div>
			</div>
		</div>
	</div>
</template>

<template id="details-template">
	<div class="status" v-show="status != ''">{{ status }}</div>
	<div v-if="spot !== false">
		<div class="pictures">
			<img v-for="picture in spot.pictures" :src="picture.imageData">
		</div>
		<h6>{{ spot.displayCategory.description }}</h6>
		<h3 class="text-primary"><strong>${{ spot.price }}</strong></h3>
		<div>{{ spot.location.address1 }} {{ spot.location.address2 }}</div>
		<div>{{ spot.description }}</div>
		<br />
		<div><a :href="'mailto: ' + spot.spotEmail">{{ spot.spotEmail }}</a></div>
		<div><a :href="'tel: ' + spot.spotPhone">{{ spot.spotPhone }}</a></div>
	</div>
</template>
